<div class="col d-inline-block mx-2 my-4">
    <div class="card" style="width: 18rem; height: 25rem;">
        <div class="overflow-hidden" style="height: 10rem;">
            <img src="{{ url_for('static', filename=imagen) }}" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <div class="text-center my-3">
                <h3 class="card-title">{{ titulo }}</h3>
            </div>
                <p class="card-text">{{ descripcion }}</p>
            <div class="row">
                <div class="col">
                    <a href="/details/{{ id }}" class="btn btn-outline-info shadow-sm w-100" >Ver detalles</a>
                </div>
                {% if session['logged'] %}
                    <div class="col">
                        <button value="{{ id }}" class="add-btn btn btn-outline-success shadow-sm w-100">Añadir</button>
                    </div>
                {% endif %}
            </div> 
        </div>
    </div>
</div>