{% extends "layout.html" %}

{% block title %} Soiree Log in {% endblock %}

{% block head %}
	{{ super() }}

{% endblock %}

{% block heading %} Chat {% endblock %}

{% block main %}
    <div class="container" style="height: 33rem;">
        <center>
            <h1 class="my-5">Carrito de compra</h1>
        </center>
		<center>
			<form action="/buy" method="POST">

				<ul class="list-group w-50" style="max-height: 18rem; overflow-y: auto;">
					{% for item in items %}

						<li class="list-group-item">
							<div class="row">

								<div class="ml-1 col-8">
									<input type="text" readonly class="item form-control-plaintext" name="item" value="{{ item[0]|string + '-' + item[1] }}">
								</div>

								<div class="col-4">
									
									<div class="d-flex flex-row-reverse">

										<input type="number" min="0" name="cantidad" class="cantidad form-control w-50 p-2 mx-3" value="{{ item[2] }}">		

									</div>

								</div>

							</div>

						</li>

					{% endfor %}

				</ul>

				<div class="container" style="margin-left: 21.5%;">

					<div class="p-2">
						<button type="submit" class="btn btn-primary"><b> Comprar </b></button>
					</div>

				</div>

			</form>
		</center>

    </div>

{% endblock %}

{% block js %}

    {{ super() }}
    <script>

    </script>

{% endblock %}