{% extends "layout.html" %}

{% block title %} Soiree Log in {% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block heading %} Log in {% endblock %}

{% block main %}
    <div class="container rounded shadow-lg  pt-3 w-50 my-5 "  style="background-color: #C4BA99; height: 30rem;">
        <h1 class="text-center my-5"> Iniciar sesion </h1>

        <form action="/iniciar" method="post" class="px-5">
            <div class="my-4">
                <label class="form-label">Username</label>
                <input type="text" class="form-control" name="user">
            </div>
            <div class="my-4">
                <label for="exampleFormControlTextarea1" class="form-label">Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <center>
                <button class="btn shadow-lg btn-light mx-auto" type="submit"> Ingresar </button>
            </center>
            <center>

                <a class="register__link" href="{{ url_for('register')}}">Registrarse</a>
            </center>
        </form>
    </div>

{% endblock %}

{% block js %}

    {{ super() }}

{% endblock %}