<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css' )}}">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css' )}}" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/form.css')}}">
        <title>{% block title %} {% endblock %}</title>
    
    {% endblock %}
</head>
<body class="login_bg">

    <div class="form__container h-100">
        <div class="container text-center">
            <h1 class="my-4"> {% block heading %} {% endblock %}</h1>
        </div> 
        <div class="over__container">
            <div class="img__cont">
                <img src="{{ url_for('static', filename='img/Sample_User_Icon.png')}}" alt="Sample_User_Icon">
            </div>
            <div class="vl"></div>
            <div class="form__cont">
                <div class="fadeInDown form-box">
                    <div class="form-value">
                        {% block form %}

                            <form action="#" method="post">
                                <h2>Welcome back</h2>
                                <div class="inputbox fadeInDown">
                                    <ion-icon name="mail-outline"></ion-icon>
                                    <input type="text" name="user" required>
                                    <label class="hint" for="user">mail</label>
                                </div>
                                <div class="inputbox fadeInDown">
                                    <ion-icon name="lock-closed-outline"></ion-icon>
                                    <input type="password" name="password" required>
                                    <label class="hint" for="password">password</label>
                                </div>
                                <button class="fadeInDown">Ingresar</button>
                                <a class="register__link" href="{{ url_for('register')}}">Sign in</a>
                            </form>

                        {% endblock %}
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="js">
        {% block js %}

            <!-- Es una libreria JS de bootstrap -->
            <script src="{{ url_for('static', filename='/js/popper.js')}}"></script> <!-- 2.11.6 -->
            <script src="{{ url_for('static', filename='/js/bootstrap.min.js')}}"></script>

        {% endblock %}
    </div>
</body>
</html>