<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css' )}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/form.css' )}}">
    <link href="{{ url_for('static', filename = 'css/bootstrap.min.css' )}}" rel="stylesheet">
    <title>Soiree Register</title>
</head>
<body class="login_bg">

    <div class="form__container">
        Register
        <div class="over__container">
            <div class="img__cont">
                <img src="{{url_for('static', filename='img/Sample_User_Icon.png')}}" alt="Sample_User_Icon">
            </div>
            <div class="vl"></div>
            <div class="form__cont">
                <div class="fadeInDown form-box">
                    <div class="form-value">
                        
                        <form action="/registrar" method="POST">
                            <h2>Register</h2>
                            <div class="inputbox fadeInDown">
                                <ion-icon name="mail-outline"></ion-icon>
                                <input type="text" name="user" required>
                                <label class="hint" for="user">mail</label>
                            </div>
                            <div class="inputbox fadeInDown">
                                <ion-icon name="lock-closed-outline"></ion-icon>
                                <input type="password" name="password" required>
                                <label class="hint" for="password">password</label>
                            </div>
                            <div class="inputbox fadeInDown">
                                <ion-icon name="lock-closed-outline"></ion-icon>
                                <input type="password" name="repeat_password" required>
                                <label class="hint" for="repeat_password">repeat password</label>
                            </div>
                            <button class="fadeInDown">submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Es una libreria JS de bootstrap -->
    <script src="{{ url_for('static', filename='/js/popper.js')}}"></script> <!-- 2.11.6 -->
    <script src="{{ url_for('static', filename='/js/bootstrap.min.js')}}"></script>
</body>
</html>